.noBullets {
  list-style-type: none;
}

.nav-wrapper{
  background-color: #fc8860;
  .headerTitle {
    font-family: 'Lobster', cursive;
    text-align: center;
  }
}

ul {
  .btn {
      background-color: #fc8860;
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
  }
  .btn:hover {
      background-color: #fce55f;
  }
}
